{
  "presets": ["es2015"],
  "plugins": [
    "transform-class-properties",
    "transform-react-jsx",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
    	"alias": {
        "components": "./src/components",
				"redux": "./src/components",
				"utils": "./src/utils",
      }
    }],
    ["import-rename", {"^(.*)\\.jsx$": "$1"}]
  ]
}
